@import "../common";

#ActionBar {
  background-color: #2D3D4C;
  padding: 1em;
  text-align: right;

  ul {
    @include inline-list;
  }

  a {
    padding: 8px 2em;

    color: white;
    font-weight: 900;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

    border: 1px solid rgba(#69778C, .5);
    border-radius: 3px;
    background-color: rgba(#000, .2);
  }
}
